.vscode
wirelessSensornetwork/.pio
wirelessSensornetwork/gateway/src/debug_custom.json
wirelessSensornetwork/gateway/src/debug.cfg
wirelessSensornetwork/gateway/src/debug.svd
wirelessSensornetwork/gateway/src/esp32.svd
wirelessSensornetwork/sensor_node/include
wirelessSensornetwork/sensor_node/lib
wirelessSensornetwork/sensor_node/test
wirelessSensornetwork/sensor_node/src/debug_custom.json
wirelessSensornetwork/sensor_node/src/debug.cfg
wirelessSensornetwork/sensor_node/src/debug.svd
wirelessSensornetwork/sensor_node/src/esp32.svd









